@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    font-family: 'Lato', sans-serif;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.text-logo {
    color: blueviolet;
}
